.gallery {
  column-count: 3;
  column-gap: 15px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
}

.gallery img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(91, 58, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.05);
}
@media (max-width: 900px) {
  .gallery {
    column-count: 2;
  }
}
@media (max-width: 600px) {
  .gallery {
    column-count: 1;
  }
}
