body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
}

header nav a {
  font-weight: 600;
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif;
}

main {
  font-family: 'Lora', serif;
  font-size: 1.35rem;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
}

input[type="submit"] {
  font-weight: 600;
  font-size: 1.25rem;
}

footer {
  font-size: 1.05rem;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

main p {
  text-align: justify;
  text-align-last: center;
  font-size: 1.35rem;
}

.gallery-item .desc {
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-transform: uppercase;
}

.galeria-container-2 figure figcaption {
  font-size: 14px;
  font-style: italic;
}

.galeria-container-2 figure a {
  font-size: 12px;
}