@media (max-width: 1100px) {
  .gallery {
    column-count: 3;
  }
}

@media (max-width: 900px) {
  .galeria-container {
    column-count: 2;
  }
}

@media (max-width: 750px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .galeria-container {
    column-count: 1;
  }
}

@media (max-width: 450px) {
  .gallery {
    column-count: 1;
  }
}

@media (max-width: 768px) {
  main p {
    width: 90%;
  }
}