/* Parágrafos */
main p {
  text-align: justify;        /* Justifica o texto */
  text-align-last: center;    /* Centraliza a última linha do parágrafo */
  margin: 0 auto;             /* Centraliza o parágrafo */
  width: 100%;                 /* Largura do parágrafo será 100% da tela */
  font-size: 1.35rem;         /* Aumenta o tamanho da fonte */
  max-width: 100%;            /* Garante que o parágrafo nunca ultrapasse a largura da tela */
  box-sizing: border-box;     /* Inclui padding e border no cálculo da largura */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  main p {
    width: 90%;               /* Aumenta a largura para 90% da tela em dispositivos menores */
  }
}
